# Exercise: Analyzing Chinook Database

Preparation I've done:
 - Retrieve the dataset and load it
 - Load the %sql extension and point it at the database
 - Display the tables and an example query

Additional steps you might take:
 - Add libraries for visualization (matplotlib, seaborn, plotly)
 - Add libraries for statistics (numpy)
 - Explore the dataset using SQL and/or pandas

----

1. Retrieve a list of all the tracks in the database, displaying only the track name and the name of the album it belongs to. Limit the result to the first 5 rows.
   > Operations: `SELECT`
2. Find the total number of customers from each country. Display the country name and the corresponding count. Order the results by the count in descending order.
   > Operations: `SELECT`, `COUNT`, `GROUP BY`, `ORDER BY`
3. Identify the top 5 genres with the highest number of tracks. Display the genre name along with the total number of tracks for each genre.
   > Operations: `SELECT`, `COUNT`, `GROUP BY`, `ORDER BY`
4. Determine the average invoice total for each customer, considering both the album and individual track purchases. Display the customer's first and last name along with the average invoice total. Order the results by the average invoice total in descending order.
   > Operations: `SELECT`, `AVG`, `JOIN`, `GROUP BY`, `ORDER BY`
5. Identify the customer who spent the most on music purchases. Display the customer's first and last name, along with the total amount spent.
   > Operations: `SELECT`, `SUM`, `JOIN`, `GROUP BY`, `ORDER BY`, `LIMIT`

In [7]:
#run this cell if you have not installed these packages
%pip install pandas sqlalchemy ipython-sql matplotlib seaborn

Collecting seaborn
  Obtaining dependency information for seaborn from https://files.pythonhosted.org/packages/83/11/00d3c3dfc25ad54e731d91449895a79e4bf2384dc3ac01809010ba88f6d5/seaborn-0.13.2-py3-none-any.whl.metadata
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from seaborn) (1.26.1)
Requirement already satisfied: pandas>=1.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from seaborn) (2.1.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from seaborn) (3.8.2)
Requirement already satisfied: contourpy>=1.0.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.47.2)
Requirement already satisfied: kiwisolver>=1.3.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Requirement already satisfied: pillow>=8 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 294.9/294.9 kB 5.0 MB/s eta 0:00:00a 0:00:01
Installing collected packages: seaborn
Successfully installed seaborn-0.13.2

[notice] A new release of pip is available: 23.2.1 -> 23.3.2
[notice] To update, run: pip3 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [3]:
# Load chinook dataset and query it using SQL magic into pandas dataframes
import pandas as pd
import sqlite3
%load_ext sql

# Load data
conn = sqlite3.connect("chinook.sqlite")

# Tell %sql about the database
%sql sqlite:///chinook.sqlite

# List tables in database
query = "SELECT name FROM sqlite_master WHERE type='table';"

# Read data into a Pandas DataFrame
tables = %sql $query

# Print head
display(tables)

# Query to get the first 5 rows of the `albums` table
result = %sql SELECT * FROM albums LIMIT 5;

# Display query result, note that Pandas DataFrame is returned!
display(result)

 * sqlite:///chinook.sqlite
Done.

[('albums',),
 ('sqlite_sequence',),
 ('artists',),
 ('customers',),
 ('employees',),
 ('genres',),
 ('invoices',),
 ('invoice_items',),
 ('media_types',),
 ('playlists',),
 ('playlist_track',),
 ('tracks',),
 ('sqlite_stat1',)]

 * sqlite:///chinook.sqlite
Done.

[(1, 'For Those About To Rock We Salute You', 1),
 (2, 'Balls to the Wall', 2),
 (3, 'Restless and Wild', 2),
 (4, 'Let There Be Rock', 1),
 (5, 'Big Ones', 3)]

In [8]:
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [9]:
##Q1
list = %sql SELECT  t.Name, a.Title FROM tracks t inner join albums a on t.AlbumId = a.AlbumId LIMIT 5;
print(list)

 * sqlite:///chinook.sqlite
Done.
+-----------------------------------------+---------------------------------------+
|                   Name                  |                 Title                 |
+-----------------------------------------+---------------------------------------+
| For Those About To Rock (We Salute You) | For Those About To Rock We Salute You |
|          Put The Finger On You          | For Those About To Rock We Salute You |
|             Let's Get It Up             | For Those About To Rock We Salute You |
|             Inject The Venom            | For Those About To Rock We Salute You |
|                Snowballed               | For Those About To Rock We Salute You |
+-----------------------------------------+---------------------------------------+

In [21]:
#Q2
query = "SELECT Country, count(CustomerId) count FROM customers group by Country order by count DESC;"
customers = %sql $query
print(customers)

 * sqlite:///chinook.sqlite
Done.
+----------------+-------+
|    Country     | count |
+----------------+-------+
|      USA       |   13  |
|     Canada     |   8   |
|     France     |   5   |
|     Brazil     |   5   |
|    Germany     |   4   |
| United Kingdom |   3   |
|    Portugal    |   2   |
|     India      |   2   |
| Czech Republic |   2   |
|     Sweden     |   1   |
|     Spain      |   1   |
|     Poland     |   1   |
|     Norway     |   1   |
|  Netherlands   |   1   |
|     Italy      |   1   |
|    Ireland     |   1   |
|    Hungary     |   1   |
|    Finland     |   1   |
|    Denmark     |   1   |
|     Chile      |   1   |
|    Belgium     |   1   |
|    Austria     |   1   |
|   Australia    |   1   |
|   Argentina    |   1   |
+----------------+-------+

In [36]:
#Q3
query = "SELECT g.Name, count(t.TrackId) FROM genres g inner join tracks t on g.GenreId= t.GenreId group by g.Name order by count(t.TrackId) desc limit 5;"
genres = %sql $query
print(genres)

 * sqlite:///chinook.sqlite
Done.
+--------------------+------------------+
|        Name        | count(t.TrackId) |
+--------------------+------------------+
|        Rock        |       1297       |
|       Latin        |       579        |
|       Metal        |       374        |
| Alternative & Punk |       332        |
|        Jazz        |       130        |
+--------------------+------------------+

In [41]:
#Q4
query = "SELECT FirstName,LastName, AVG(i.Total) FROM invoices i inner join customers c on i.CustomerId = c.CustomerId group by c.CustomerId order by AVG(i.Total) desc;"
invoice = %sql $query
print(invoice)

 * sqlite:///chinook.sqlite
Done.
+-----------+--------------+--------------------+
| FirstName |   LastName   |    AVG(i.Total)    |
+-----------+--------------+--------------------+
|   Helena  |     Holý     | 7.088571428571429  |
|  Richard  |  Cunningham  | 6.802857142857143  |
|    Luis   |    Rojas     | 6.659999999999999  |
|  Ladislav |    Kovács    | 6.517142857142857  |
|    Hugh   |   O'Reilly   | 6.517142857142857  |
|   Julia   |   Barnett    | 6.231428571428572  |
|   Frank   |   Ralston    | 6.231428571428571  |
|    Fynn   |  Zimmermann  | 6.231428571428571  |
|    Puja   |  Srivastava  | 6.1066666666666665 |
|   Astrid  |    Gruber    | 6.088571428571428  |
|   Victor  |   Stevens    | 6.088571428571428  |
|   Terhi   |  Hämäläinen  | 5.945714285714287  |
| František | Wichterlová  | 5.802857142857143  |
|  Isabelle |   Mercier    | 5.802857142857143  |
|  Johannes | Van der Berg | 5.8028571428571425 |
|    Jack   |    Smith     | 5.660000000000001  |
|    João   |  Fernandes   | 5.660000000000001  |
|    Luís   |  Gonçalves   | 5.659999999999999  |
|  François |   Tremblay   | 5.659999999999999  |
|   Bjørn   |    Hansen    | 5.659999999999999  |
|    Dan    |    Miller    | 5.659999999999999  |
|  Heather  |   Leacock    | 5.659999999999999  |
|   Wyatt   |    Girard    | 5.659999999999999  |
|  Jennifer |   Peterson   | 5.517142857142858  |
|    Tim    |    Goyer     | 5.517142857142858  |
|  Camille  |   Bernard    | 5.517142857142858  |
| Dominique |   Lefebvre   | 5.517142857142858  |
|   Joakim  |  Johansson   | 5.517142857142858  |
|   Manoj   |    Pareek    | 5.517142857142858  |
|   Leonie  |    Köhler    | 5.3742857142857146 |
|    Kara   |   Nielsen    | 5.3742857142857146 |
|  Eduardo  |   Martins    | 5.3742857142857146 |
| Alexandre |    Rocha     | 5.3742857142857146 |
|  Fernanda |    Ramos     | 5.3742857142857146 |
|    Mark   |   Philips    | 5.3742857142857146 |
|  Michelle |    Brooks    | 5.3742857142857146 |
|  Patrick  |     Gray     | 5.3742857142857146 |
|   Edward  |   Francis    | 5.3742857142857146 |
|   Martha  |     Silk     | 5.3742857142857146 |
|   Aaron   |   Mitchell   | 5.3742857142857146 |
|  Madalena |   Sampaio    | 5.3742857142857146 |
|   Hannah  |  Schneider   | 5.3742857142857146 |
|   Niklas  |   Schröder   | 5.3742857142857146 |
|    Marc   |    Dubois    | 5.3742857142857146 |
|   Lucas   |   Mancini    | 5.3742857142857146 |
| Stanisław |    Wójcik    | 5.3742857142857146 |
|    Emma   |    Jones     | 5.3742857142857146 |
|    Phil   |    Hughes    | 5.3742857142857146 |
|    Mark   |    Taylor    | 5.3742857142857146 |
|   Diego   |  Gutiérrez   | 5.3742857142857146 |
|    Daan   |   Peeters    | 5.374285714285714  |
|  Roberto  |   Almeida    | 5.374285714285714  |
|   Frank   |    Harris    | 5.374285714285714  |
|   Kathy   |    Chase     | 5.374285714285714  |
|    John   |    Gordon    | 5.374285714285714  |
|   Robert  |    Brown     | 5.374285714285714  |
|   Ellie   |   Sullivan   | 5.374285714285714  |
|  Enrique  |    Muñoz     | 5.374285714285714  |
|   Steve   |    Murray    | 5.374285714285714  |
+-----------+--------------+--------------------+

In [46]:
#Q5
query = "SELECT FirstName,LastName, sum(i.Total) FROM invoices i inner join customers c on i.CustomerId = c.CustomerId group by c.CustomerId order by sum(i.Total) desc limit 1;"
purchases = %sql $query
print(purchases)

 * sqlite:///chinook.sqlite
Done.
+-----------+----------+--------------------+
| FirstName | LastName |    sum(i.Total)    |
+-----------+----------+--------------------+
|   Helena  |   Holý   | 49.620000000000005 |
+-----------+----------+--------------------+

In [38]:
t= %sql select * from customers limit 5;
display(t)

 * sqlite:///chinook.sqlite
Done.

[(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3),
 (2, 'Leonie', 'Köhler', None, 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', '+49 0711 2842222', None, 'leonekohler@surfeu.de', 5),
 (3, 'François', 'Tremblay', None, '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', '+1 (514) 721-4711', None, 'ftremblay@gmail.com', 3),
 (4, 'Bjørn', 'Hansen', None, 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', '+47 22 44 22 22', None, 'bjorn.hansen@yahoo.no', 4),
 (5, 'František', 'Wichterlová', 'JetBrains s.r.o.', 'Klanova 9/506', 'Prague', None, 'Czech Republic', '14700', '+420 2 4172 5555', '+420 2 4172 5555', 'frantisekw@jetbrains.com', 4)]